@import '../../design/style/functions.scss';
@import '../../design/style/variables.scss';

.modal-popup {
  position: fixed;
  @include position-center(50%);
  text-align: center;
  width: auto;
  height: auto;
  padding: 20px;
  padding-bottom: 15px;
  color:  white;
  z-index: 999;
}

.error-color {
  @include gradient-shadow($gradient-red-a, $gradient-red-b, 5px);
}

.success-color {
  @include gradient-shadow($gradient-green-a, $gradient-green-b, 5px);
}

.modal-close {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.modal-warning {
  margin-right: 15px;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  float: left;
  font-size: 40px;
  line-height: 20px;
}

@media (max-width: 638px) {
  .modal-warning {
    @include hide;
  }
}
