@import '../../../design/style/functions.scss';
@import '../../../design/style/variables.scss';
@import '../../../design/style/background.scss';
@import '../../../design/style/forms.scss';
@import '../../../design/style/reset.scss';

#background-login {
  @extend %background;
  // background-image: url("../../../design/pictures/Login-frank-mckenna-219857-unsplash.jpg");
  background-image: url("../../../design/pictures/Login-sorasak-217807-unsplash.jpg");
}

#login {
  @extend %box-form;
  width: 420px;
  height: auto;
  top: 10%;
  @include position-center(50%);
  font-size: 1.35em;
}

@media (max-width: 500px) {
  #login {
    top: 100px;
    width: 80%;
  }
}
