@import '../../../design/style/variables.scss';
@import '../../../design/style/functions.scss';

/* Boxes */

#matches-list {
  position: relative;
  width: 29%;
  min-height: 250px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
}

#chat-area {
  position: absolute;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
  width: 69%;
  height: 98.65%;
  top: 0px;
  right: 0px;
  margin: 4.5px;
}

/* ==== */

#matches-list-top {
  position: relative;
  width: 99%;
  height: 25px;
}

.matches-list-title {
  position: absolute;
  font-family: $font-header;
  text-align: center;
  width: 100%;
  padding-top: 1.5px;
}

#matches-list-main {
  position: relative;
  width: 100%;
  height: 95%;
  padding-top: 2px;
  overflow-y: scroll;
}

.match-element {
  position: relative;
  height: 55px;
  width: 94.5%;
  cursor: pointer;
  background: white;
  // border: 1px solid;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-left: 9.5px;
}

.match-element-list {
  position: absolute;
  top: 10px;
  left: 60px;
  font-family: $font-sub;
  font-size: 15px;
}

.match-element-lastmsg {
  position: absolute;
  top: 35px;
  font-size: 11px;
  left: 60.5px;
  width: 60%;
  height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #D1CFD0;
}

.match-element-time {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 13px;
  cursor: default;
}

/* === Chat === */

#header-msg-area {
  position: absolute;
  width: 100%;
  height: 4.5%;
  background: #434343;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23); //0 3px 6px rgba(0,0,0,0.16); //,
  z-index: 3;
}

#main-title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 5px;
  color: #ecf0f3;
  font-family: $font-header;
}

#list-msg-area {
  position: absolute;
  width: 100%;
  height: 88%;
  top: 28px;
  background: #ECF0F3;
  z-index: 1;
}

#new-msg-area {
  position: absolute;
  width: 100%;
  height: 7.5%;
  bottom: 0px;
  z-index: 2;
  background: white;
  box-shadow: 0 -3px 10px rgba(0,0,0,0.23);
}

#new-msg-input {
  position: absolute;
  // border: 1px solid;
  font-family: $font-sub;
  font-size: 15px;
  top: 28%;
  left: 25px;
  width: 85%;
}

#new-msg-submit {
  position: absolute;
  top: 0px;
  right: 15px;
  width: 30px;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.msg {
  position: relative;
  width: 85%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
  margin: 5px;
}

.msg-element {
  // border: 1px solid red;
  margin-top: 15px;
}

.picture-msg-list {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  background: white;
  top: -4px;
}

.msg-content {
  font-size: 14px;
  font-family: $font-header;
  width: 93%;
  padding: 15px 10px 10px 10px;
  margin-bottom: 15px;
}

.msg-header {
  position: absolute;
  top: 2px;
  font-size: 10px;
}

#msg-array {
  position: absolute;
  padding-bottom: 10px;
}

.day {
  position: relative;
  text-align: center;
  width: 100%;
  font-family: $font-header;
  color: #434343;
}

.online-dot {
  position: absolute;
  font-size: 20px;
  left: 5px;
  top: -4px;
  color: #45B649;
  z-index: 1;
  cursor: default;
}

#no-msg {
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: 25%;
}

#picture-no-msg {
  position: absolute;
  width: 25%;
  height: 75%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 100px;
  background: #ffffff0d;
  @include position-center(50%);
  cursor: pointer;
}

#fullname-no-msg {
  position: relative;
  top: 57.5%;
  font-size: 25px;
  font-family: $font-header;
}

#text-no-msg {
  position: absolute;
  @include position-center(50%);
  bottom: 5px;
  text-align: center;
  z-index: -1;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
  border-radius: 5px;
}
