@import '../../../design/style/variables.scss';
@import '../../../design/style/functions.scss';

#matches-list-main {
  position: relative;
  width: 100%;
  height: 95%;
  padding-top: 2px;
  overflow-y: scroll;
}

.match-element {
  position: relative;
  height: 55px;
  width: 94.5%;
  cursor: pointer;
  background: white;
  // border: 1px solid;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-left: 9.5px;
}

.match-element-list {
  position: absolute;
  top: 10px;
  left: 60px;
  font-family: $font-sub;
  font-size: 15px;
}

.match-element-lastmsg {
  position: absolute;
  top: 35px;
  font-size: 11px;
  left: 60.5px;
  width: 60%;
  height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #D1CFD0;
}

.match-element-time {
  position: absolute;
  top: 35px;
  right: 5px;
  font-size: 10px;
  cursor: default;
}

.match-element-new-mesage-count {
  position: absolute;
  top: 15px;
  font-size: 10px;
  right: 12px;
  padding: 2.5px;
  border-radius: 10px;
  width: 11px;
  height: 11px;
  text-align: center;
  background: $design-red;
  color: white;
}
