@import '../../../design/style/variables.scss';
@import '../../../design/style/functions.scss';

.pictures {
  padding: 5px;
}

%setting-picture {
  position: relative;
  margin: 0;
  @include position-center(50%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  background: white;
}

.profile-picture-one {
  @extend %setting-picture;
  width: 90%;
  max-width: 500px;
  height: 350px;
}

.picture-sub-area {
  position: relative;
  top: -10px;
  height: 115px;
  width: 95%;
  @include position-center(51%);
  z-index: 2;
}

%sub-picture {
  @extend %setting-picture;
  position: absolute;
  width: 24%;
  height: 115px;
}

.profile-picture-two {
  @extend %sub-picture;
  left: 12.1%;
}

.profile-picture-three {
  @extend %sub-picture;
  left: 37%;
}

.profile-picture-four {
  @extend %sub-picture;
  left: 62%;
}

.profile-picture-five {
  @extend %sub-picture;
  left: 87%;
}

.picture-background-profile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.no-picture {
  position: absolute;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  border: 1px dashed grey;
}

.no-picture span {
  position: relative;
  top: 35%;
  left: 48%;
  font-size: 25px;
  font-family: $font-sub;
  cursor: pointer;
}

.over-edit {
  position: absolute;
  color: white;
  font-size: 10px;
  padding: 3.5px;
  border: 1px solid white;
  margin: 5px;
  cursor: pointer;
  &:hover {
    color: grey;
    border: 1px solid grey;
  }
}

.over-delete {
  position: absolute;
  color: white;
  font-size: 12.5px;
  cursor: pointer;
  bottom: 3px;
  right: 5px;
  &:hover {
    color: grey;
  }
}

.modal-confirm-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-confirm {
  position: absolute;
  min-width: 300px;
  height: 20%;
  top: 30%;
  @include position-center(50%);
  background: #EAEAEA;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
}

.modal-confirm-icon {
  position: absolute;
  @include position-center(50%);
  padding: 15px;
}

.modal-confirm-content {
  position: absolute;
  @include position-center(50%);
  top: 35%;
  width: 90%;
  text-align: center;
  padding: 5px;
}

.modal-confirm-cancel {
  position: absolute;
  top: 65%;
  padding: 5px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 15px;
  &:hover {
    background-color: white;
    color: $design-red;
  }
  border-radius: 16px;
  left: 20%;
}

.modal-confirm-confirm {
  position: absolute;
  top: 65%;
  padding: 5px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 15px;
  &:hover {
    background-color: white;
    color: green;
  }
  border-radius: 16px;
  right: 20%;
}

.myprofile-data {
  position: relative;
  width: 90%;
  max-width: 500px;
  @include position-center(50%);
  height: 200px;
  top: -120px;
  z-index: 1;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-bottom: 800px;
  margin-bottom: -100px;
}

.myprofile-id {
  position: relative;
  @include position-center(50%);
  text-align: center;
  width: 95%;
  height: 100%;
  cursor: default;
  top: 120px;
  font-family: $font-sub;
  font-size: 15px;
}

.top-title {
  text-align: center;
  font-family: $font-sub;
  font-size: 30px;
}

.fields-area {
  position: relative;
  text-align: left;
}

.field-name {
  font-weight: bold;
  padding-left: 10px;
}

.field-title {
  position: relative;
  width: auto;
  padding: 5px;
  font-size: 17.5px;
  color: grey;
  text-align: center;
}

.field-input {
  border: 1px solid gray;
  padding: 3px;
  padding-left: 10px;
  margin-left: 5px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  font-size: 15px;
  border-radius: 15px;
  &:focus {
    border: 1px solid black;
  }
  &:active {
    border: 1px solid black;
  }
  width: 90%;
}

.submit-profile {
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  @include gradient-shadow($gradient-btn-a, $gradient-btn-b, 30px);
  font-family: $font-sub;
  position: relative;
  @include position-center(50%);
  cursor: pointer;
}

#data-profile-tags {
  position: relative;
  word-wrap: break-word;
  line-height: 40px;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}

.picture-profile-tag {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  color: white;
  margin: 2px;
  padding: 5px;
}

.matched-tag {
  background: $design-red;
}
