@import '../../../design/style/variables.scss';
@import '../../../design/style/functions.scss';

.myprofile-data {
  position: relative;
  width: 90%;
  max-width: 500px;
  @include position-center(50%);
  top: -120px;
  z-index: 1;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-bottom: 120px;
}

.myprofile-id {
  position: relative;
  @include position-center(50%);
  text-align: center;
  width: 95%;
  cursor: default;
  top: 120px;
  font-family: $font-sub;
  font-size: 15px;
}

.top-title {
  text-align: center;
  font-family: $font-sub;
  font-size: 30px;
}

.profile-personal-data {
  position: relative;
  @include position-center(50%);
  display: inline-block;
}

.fields-area {
  position: relative;
  text-align: left;
}

.field-name {
  margin-top: 5px;
  font-size: 12.5px;
}

.field-title {
  position: relative;
  width: auto;
  padding: 5px;
  font-size: 17.5px;
  color: grey;
  text-align: center;
}

.field-input {
  border: 1px solid gray;
  font-size: 15px;
  &:focus {
    border: 1px solid black;
  }
  &:active {
    border: 1px solid black;
  }
  width: 99%;
}

.submit-profile {
  position: relative;
  @include position-center(50%);
  font-size: 15px;
  margin-top: 10px;
  padding: 2.5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  @include gradient-shadow($gradient-btn-a, $gradient-btn-b, 30px);
  font-family: $font-sub;
}
