@import '../design/style/functions.scss';
@import '../design/style/variables.scss';

body {
  background: $background-color;
}

%content-center {
  @include position-center(50%);
  max-width: 1000px;
  width: 95%;
}

.header {
  position: relative;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}

.nav-top {
  position: relative;
  top: 5px;
  @extend %content-center;
}

.logo {
  top: 0px;
  font-size: 1.5em;
  font-family: $font-logo;
  @include font-color-gradient($gradient-btn-a, $gradient-btn-b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-left-side {
  position: absolute;
  right: 15px;
  top: 15px;
}

.header-left-side a {
    font-family: $font-header;
    padding-left: 5px;
    padding-right: 5px;
    &:hover {
      border-bottom: 2px solid $design-red;
    }
}

.content {
  position: relative;
  top: 5px;
  @extend %content-center;
  // border: 1px solid #DDDDDD;
  display: block;
  height: auto;
  padding: 5px;
}
