@import '../design/style/functions.scss';
@import '../design/style/variables.scss';

body {
  background: $background-color;
}

%content-center {
  @include position-center(50%);
  max-width: 1000px;
  width: 95%;
}

.header {
  position: relative;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}

.nav-top {
  position: relative;
  top: 5px;
  @extend %content-center;
}

.logo {
  top: 0px;
  font-size: 1.5em;
  font-family: $font-logo;
  @include font-color-gradient($gradient-btn-a, $gradient-btn-b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-left-side {
  position: absolute;
  right: -5px;
  top: 15px;
}

.header-left-side a {
    font-family: $font-header;
    padding-left: 5px;
    padding-right: 5px;
    &:hover {
      border-bottom: 2px solid $design-red;
    }
}

.content {
  position: relative;
  top: 5px;
  @extend %content-center;
  // border: 1px solid #DDDDDD;
  display: block;
  height: auto;
  padding: 5px;
  z-index: 0;
}

/* Notification */

#notif-btn {
  font-family: $font-header;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2.5px;
  border-radius: 12px;
  cursor: pointer;
}

#notif {
  position: absolute;
  width: 250px;
  height: 215px;
  right: 15px;
  top: -6px;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 2.5px;
  overflow-y: scroll;
  overflow-x: visible;
  z-index: 5;
}
#notif-arrow {
  position: absolute;
  width: 0px;
  height: 5px;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7.5px solid #bdc3c7;
  top: 32px;
  right: 10%;
  z-index: -1;
}
.notif-element {
  position: relative;
  width: 100%;
  height: 50px;
  // border-bottom: 1px solid #bdc3c7;
  padding: 1.25px 0px 1.25px 0px;
}
.picture-notif-background {
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.white-notif-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #FFFFFFFF, #FFFFFFAA, #FFFFFF55);
  top: 0px;
}

.notif-logo {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 25%;
  left: 5%;
  cursor: pointer;
}

.notif-text {
  position: absolute;
  top: 35%;
  font-size: 10px;
  right: 10%;
  text-align: right;
}

#matches-notif {
  position: absolute;
  top: -1px;
  left: 34.75%;
}

.top-notif {
  font-size: 7.5px;
  width: 7.5px;
  height: 7.5px;
}

#true-notif {
  position: absolute;
  top: -1px;
  right: 14.75%;
}

svg {
  background-color: beige;
}
