@import '../design/style/functions.scss';
@import '../design/style/variables.scss';

body {
  background: $background-color;
}

%content-center {
  @include position-center(50%);
  max-width: 1000px;
  width: 95%;
}

.header {
  position: relative;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}

.nav-top {
  position: relative;
  top: 5px;
  @extend %content-center;
}

.logo {
  top: 0px;
  font-size: 1.5em;
  font-family: $font-logo;
  @include font-color-gradient($gradient-btn-a, $gradient-btn-b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-left-side {
  position: absolute;
  right: -5px;
  top: 15px;
}

.header-left-side a {
    font-family: $font-header;
    padding-left: 5px;
    padding-right: 5px;
    &:hover {
      border-bottom: 2px solid $design-red;
    }
}

.content {
  position: relative;
  top: 5px;
  @extend %content-center;
  // border: 1px solid #DDDDDD;
  display: block;
  height: auto;
  padding: 5px;
  z-index: -1;
}

#notif {
  position: absolute;
  border: 0.25px solid #bdc3c7;
  width: 250px;
  height: 200px;
  right: 15px;
  top: 25px;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#notif-arrow {
  position: absolute;
  width: 0px;
  height: 5px;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7.5px solid #434343;
  top: -12px;
  right: 35%;
}
.notif-element {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #434343;
}
.picture-notif-background {
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.white-notif-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #FFFFFFFF, #FFFFFFAA, #FFFFFF55);
  top: 0px;
}
