@import '../../../design/style/variables.scss';
@import '../../../design/style/functions.scss';
@import './SeeProfile.scss';

.data-area {
  position: absolute;
  width: 45%;
  height: auto;
  padding: 5px;
  top: 28px;
  right: 5%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
  1px 3px 6px rgba(0,0,0,0.05),
  2px 4px 7px rgba(0,0,0,0.05),
  3px 5px 8px rgba(0,0,0,0.05),
  4px 6px 9px rgba(0,0,0,0.05);
}

.profile-id {
  position: relative;
  @include position-center(50%);
  // border: 1px solid red;
  text-align: center;
  width: 95%;
  height: auto;
  cursor: default;
}

.profile-title {
  position: relative;
  font-family: $font;
  font-size: 2em;
  top: 5px;
}

.profile-username {
  position: relative;
  color: #005C97;
  font-size: 12.5px;
}

.profile-bio {
  font-family: $font-sub;
  font-size: 15px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.profile-data-list {
  position: relative;
  width: 95%;
  text-align: left;
  font-size: 15px;
  @include position-center(50%);
}

.profile-data-list img {
  position: relative;
  width: 20px;
}

.profile-data-list span {
  position: relative;
  top: -3.5px;
  left: 5px;
}

#picture-tags {
  position: relative;
  word-wrap: break-word;
  line-height: 215%;
  padding-top: 5px;
  text-align: left;
  padding-left: 10px;
}

.picture-tag {
  background: $design-red;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  color: white;
  margin: 2px;
  padding: 5px;
}

.profiles-linked {
  @extend %bottom-btn;
  background: linear-gradient(#11998e, #38ef7d);
  box-shadow: 0 3px 6px rgba(#0F9B0F,0.16), 0 3px 6px rgba(#0F9B0F,0.33);
  color: white;
  font-size: 35px;
  cursor: pointer;
  &:hover {
    text-shadow: 0 1.5px 3px rgba(0,0,0,0.33);
    opacity: 0.95;
  }
}

.profiles-linked span {
  position: relative;
  top: 3.5px;
}

@media (max-width: 800px) {
  .data-area {
    position: relative;
    width: 90%;
    top: -15px;
    border-radius: 5px;
    @include position-center(50%);
  }
  .profile-id {
    position: relative;
    top: 25px;
    padding-bottom: 25px;
  }
  .profiles-linked {
    @include hide;
  }
}
