@import '../../../design/style/variables.scss';
@import '../../../design/style/functions.scss';
@import './SeeProfile.scss';

.data-area {
  position: relative;
  width: 88%;
  max-width: 750px;
  height: auto;
  padding: 5px;
  top: -15px;
  @include position-center(50%);
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
  1px 3px 6px rgba(0,0,0,0.05),
  2px 4px 7px rgba(0,0,0,0.05),
  3px 5px 8px rgba(0,0,0,0.05),
  4px 6px 9px rgba(0,0,0,0.05);
  border-radius: 5px;
}

.profile-id {
  position: relative;
  @include position-center(50%);
  text-align: center;
  width: 95%;
  height: auto;
  cursor: default;
  top: 30px;
  padding-bottom: 35px;
}

.profile-title {
  position: relative;
  font-family: $font;
  font-size: 2em;
  top: 5px;
}

.profile-username {
  position: relative;
  color: #005C97;
  font-size: 12.5px;
}

.profile-bio {
  font-family: $font-sub;
  font-size: 15px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.profile-data-list {
  position: relative;
  width: 95%;
  text-align: left;
  font-size: 15px;
  @include position-center(50%);
}

.profile-data-list img {
  position: relative;
  width: 20px;
}

.profile-data-list span {
  position: relative;
  top: -3.5px;
  left: 5px;
}

.limit {
  position: relative;
  @include position-center(50%);
  margin-top: 10px;
  margin-bottom: 5px;
  border: 0.5px solid #EEF2F3;
}

#data-tags {
  position: relative;
  word-wrap: break-word;
  line-height: 215%;
  text-align: left;
  padding-left: 10px;
  padding-top: 27.5px;
}

.picture-tag {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  color: white;
  margin: 2px;
  padding: 5px;
}

.matched-tag {
  background: $design-red;
}

.other-tag {
  background: #EEF2F3;
  color: #434343;
}

.tag-title {
  position: absolute;
  left: 20px;
  padding-top: 5px;
  font-family: $font-header;
}

@media (max-width: 800px) {
  .data-area {
    width: 105%;
  }
}
