@import './SeeProfile.scss';

.picture-area{
  position: relative;
  width: 75%;
  max-width: 500px;
  height: 350px;
  margin: 0;
  @include position-center(50%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  border-radius: 10px;
  background: white;
  z-index: 1;
}

.picture-user-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

%information-position {
  position: absolute;
  top: 1.5%;
  left: 1.5%;
}

.more-information {
  @extend %information-position;
  @include gradient-shadow (#414345, #232526, 12.5px);
  color: white;
  font-size: 25px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  text-align: center;
  z-index: 999;
}

.more {
  position: relative;
  cursor: pointer;
  top: -3px;
  left: -0.5px;
  &:hover {
    text-shadow: 0 3px 6px rgba(0,0,0,0.33);
  }
}

.information-area {
  @extend %information-position;
  width: auto;
  height: auto;
  @include gradient-shadow (#232526, #414345, 12.5px);
  color: white;
  padding: 2.5px 7.5px 2.5px 30px;
  z-index: 998;
  font-family: $font-header;
}

.information-area span {
  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }
}

#picture-index {
  position: absolute;
  height: 10px;
  background: white;
  opacity: 0.55;
  top: 1.5%;
  font-size: 30px;
  @include position-center(50%);
  padding: 0 1px 0 1px;
  border-radius: 12px;
  cursor: default;
}

#picture-index span {
  color: grey;
  position: relative;
  top: -12px;
}

%picture-change {
  background: white;
  opacity: 0.55;
  position: absolute;
  top: 42.5%;
  font-size: 30px;
  font-family: $font-sub;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  &:hover {
    opacity: 0.30;
  }
}

#picture-previous {
  @extend %picture-change;
  left: 10px;
}

#picture-next {
  @extend %picture-change;
  right: 10px;
}

.arrow {
  position: relative;
  top: 3px;
  left: 1px;
}

.btn-like {
  @extend %bottom-btn;
  font-size: 35px;
}

@-moz-document url-prefix() {
  .btn-like {
    font-size: 45px;
  }
}

.btn-like span {
  position: relative;
  &:hover {
    text-shadow: 0 3px 6px rgba(0,0,0,0.33);
  }
}

.profiles-linked-picture  {
  @extend %bottom-btn;
  background: #F80759;
  font-size: 35px;
  cursor: pointer;
  &:hover {
    text-shadow: 0 1.5px 3px rgba(0,0,0,0.33);
  }
}

.profiles-linked-picture  span {
  position: relative;
  top: 3.5px;
}
