@import '../../../design/style/variables.scss';
@import '../../../design/style/functions.scss';

.picture-area{
  position: relative;
  width: 45%;
  height: 325px;
  margin: 15px;
  left: 3%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  border-radius: 10px;
  background: white;
  z-index: 1;
}

.picture-user-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

#picture-index {
  position: absolute;
  height: 10px;
  background: white;
  opacity: 0.55;
  top: 1.5%;
  font-size: 30px;
  @include position-center(50%);
  padding: 0 1px 0 1px;
  border-radius: 12px;
  cursor: default;
}

#picture-index span {
  color: grey;
  position: relative;
  top: -12px;
}

%picture-change {
  background: white;
  opacity: 0.55;
  position: absolute;
  top: 42.5%;
  font-size: 30px;
  font-family: $font-sub;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  &:hover {
    opacity: 0.30;
  }
}

#picture-previous {
  @extend %picture-change;
  left: 10px;
}

#picture-next {
  @extend %picture-change;
  right: 10px;
}

.arrow {
  position: relative;
  top: 3px;
  left: 1px;
}

.data-area {
  position: absolute;
  width: 45%;
  height: 297px;
  padding: 5px;
  top: 28px;
  right: 5%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
  1px 3px 6px rgba(0,0,0,0.05),
  2px 4px 7px rgba(0,0,0,0.05),
  3px 5px 8px rgba(0,0,0,0.05),
  4px 6px 9px rgba(0,0,0,0.05);
}

.btn-like {
  position: absolute;
  box-shadow: 0 3px 6px rgba(#F80759,0.16), 0 3px 6px rgba(#F80759,0.33);
  color: white;
  top: 92%;
  @include position-center(50%);
  font-size: 50px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
}

.like-heart {
  position: relative;
  top: -5px;
  &:hover {
    text-shadow: 0 3px 6px rgba(0,0,0,0.33);
  }
}

%information-position {
  position: absolute;
  top: 1.5%;
  left: 1.5%;
}

.more-information {
  @extend %information-position;
  @include gradient-shadow (#414345, #232526, 12.5px);
  color: white;
  font-size: 25px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  text-align: center;
  z-index: 999;
}

.more {
  position: relative;
  cursor: pointer;
  top: -3px;
  left: -0.5px;
  &:hover {
    text-shadow: 0 3px 6px rgba(0,0,0,0.33);
  }
}

.information-area {
  @extend %information-position;
  width: auto;
  height: auto;
  @include gradient-shadow (#232526, #414345, 12.5px);
  color: white;
  padding: 2.5px 7.5px 2.5px 30px;
  z-index: 998;
  font-family: $font-header;
}

.information-area span {
  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }
}

.profile-id {
  position: absolute;
  @include position-center(50%);
  // border: 1px solid red;
  text-align: center;
  width: 95%;
  height: auto;
  cursor: default;
}

.profile-title {
  position: relative;
  font-family: $font;
  font-size: 2em;
  top: 5px;
}

.profile-username {
  position: relative;
  color: #005C97;
  font-size: 12.5px;
}

.profile-bio {
  font-family: $font-sub;
  font-size: 15px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.profile-data-list {
  position: relative;
  width: 95%;
  text-align: left;
  font-size: 15px;
  @include position-center(50%);
}

.profile-data-list img {
  position: relative;
  width: 20px;
}

.profile-data-list span {
  position: relative;
  top: -3.5px;
  left: 5px;
}

#picture-tags {
  position: relative;
  word-wrap: break-word;
  line-height: 215%;
  padding-top: 5px;
  text-align: left;
  padding-left: 10px;
}

.picture-tag {
  background: $design-red;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  color: white;
  margin: 2px;
  padding: 5px;
}
