@import './SeeProfile.scss';

%side-profile {
  position: absolute;
  width: 95%;
  max-width: 25%;
  height: 285px;
  margin: 0;
  top: 5%;
  border-radius: 10px;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  cursor: pointer;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    1px 3px 6px rgba(0,0,0,0.05),
    2px 4px 7px rgba(0,0,0,0.05),
    3px 5px 8px rgba(0,0,0,0.05),
    4px 6px 9px rgba(0,0,0,0.05);
  }
  margin-left: 0.75%;
  margin-right: 2%;
}

.previous-profile {
  left: 0;
  @extend %side-profile;
}

.next-profile {
  right: 0;
  @extend %side-profile;
}

%side-profile-div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.left-side-profile div {
  @extend %side-profile-div;
}

.right-side-profile div {
  @extend %side-profile-div;
}

.side-fullname {
  position: absolute;
  @include position-center(50%);
  border-radius: 30px;
  bottom: 20%;
  font-size: 20px;
  font-family: $font;
  color: #EAEAEA;
  text-align: center;
  padding: 5px;
  width: 45%;
  border: 0.5px solid white;
  background: #eaeaea4d;
}

.side-see-profile {
  position: absolute;
  bottom: 3%;
  font-size: 35px;
  font-family: $font-header;
  color: #EEF2F3;
  cursor: pointer;
  &:hover {
    color: grey;
  }
}

@media (max-width: 560px) {
  .side-fullname {
    @include hide;
  }
}
