@import './SeeProfile.scss';

@mixin side-effect ($rY, $tX, $sY) {
  -webkit-transform: rotateY($rY) translateX($tX) skewY($sY) scale(0.3, 0.5);
  -moz-transform: rotateY($rY) translateX($tX) skewY($sY) scale(0.3, 0.5);
  -o-transform: rotateY($rY) translateX($tX) skewY($sY) scale(0.3, 0.5);
}

%side-profile {
  position: absolute;
  width: 95%;
  max-width: 25%;
  height: 32%;
  margin: 0;
  top: 5%;
  border-radius: 10px;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  cursor: default;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    1px 3px 6px rgba(0,0,0,0.05),
    2px 4px 7px rgba(0,0,0,0.05),
    3px 5px 8px rgba(0,0,0,0.05),
    4px 6px 9px rgba(0,0,0,0.05);
  }
  margin-left: 2%;
  margin-right: 2%;
}

.left-side-profile {
  left: 0;
  @extend %side-profile;
  // @include side-effect(0, 0, 25deg);
}

.right-side-profile {
  right: 0;
  @extend %side-profile;
  // @include side-effect(0, 0, -20deg);
}

%side-profile-div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.left-side-profile div {
  @extend %side-profile-div;
}

.right-side-profile div {
  @extend %side-profile-div;
}

.side-username {
  position: absolute;
  top: 35%;
  @include position-center(50%);
  font-size: 150%;
  font-family: $font-picture;
  color: #EEF2F3;
  text-align: center;
  padding: 10px;
  border-radius: 35px;
}

.side-see-profile {
  position: absolute;
  bottom: 3%;
  font-size: 35px;
  font-family: $font-header;
  color: #EEF2F3;
  cursor: pointer;
  &:hover {
    color: grey;
  }
}

@media (max-width: 560px) {
  .side-username {
    @include hide;
  }
}
