@import '../../../design/style/functions.scss';
@import '../../../design/style/variables.scss';
@import '../../../design/style/background.scss';
@import '../../../design/style/forms.scss';

body, html {
    // height: 100%;
    margin: 0;
    font-family: $font;
}

#background-register {
  @extend %background;
  // background-image: url("../../../design/pictures/Register-andrew-welch-229148-unsplash.jpg");
  background-image: url("../../../design/pictures/Register-robson-hatsukami-morgan-250757-unsplash.jpg");
}

#register {
  @extend %box-form;
  width: 420px;
  height: auto;
  top: 333px;
  left: 17.5%;
  font-size: 1.35em;
}

#member {
  @include gradient-shadow($gradient-btn-a, $gradient-btn-b, 35px);
  position: absolute;
  top: -5px;
  right: 1%;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 25px;
  font-size: 20px;
  width: 185px;
  height: 25px;
  &:hover {
    cursor: pointer;
    width: 190px;
    height: 27px;
    top: -4px;
    right: 0.75%;
    border-radius: 50px;
  }
}

.form-line {
  @include hide;
}

.form-link-btn {
  @include hide;
}

@media (max-width: 638px) {

  #member {
    @include hide;
  }

  #register {
    top: 100px;
    left: 8%;
    width: 80%;
  }

  .form-line {
    @include show;
    height: 0.5px;
    width: 50%;
  }

  .form-link-btn {
    @include show;
    font-size: 2em;
    &:hover {
      text-decoration: underline;
    }
  }
}
