@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Design colors
$design-red: #e63946;
$design-light-red: #ff6b76;
$design-white: #ededed;
$design-light-blue: #a8dadc;
$design-blue: #457b9d;
$design-dark-blue: #1d3557;
$font: Roboto, serif;

body, html {
    height: 100%;
    margin: 0;
    font-family: $font;
}

.background {
  /* Set position */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* Set background */
  background-image: url("../../../design/pictures/Register-robson-hatsukami-morgan-250757-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#register {
  background-color: white;
  padding: 5px;
  width: 420px;
  height: auto;
  font-size: 16px;
  position: relative;
  top: 30%;
  left: 15%;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 1.25em;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 1.7em;
  margin: 15px;
  color: $design-red;
}

.sub-title {
  text-align: center;
  font-size: 1.5em;
  margin: 0px;
}

.input-form {
  display: inline-block;
  height: 25px;
  width: 75%;
  margin-left: 6%;
  margin-top: 5%;
  padding: 7.55px;
  font-size: 25px;
  border-bottom: 3px solid $design-blue;
  font-family: $font;
}

input {
  border: none;
}
input:focus {
  border: none;
  outline: none;
}

%placeholder-picture {
  background-repeat: no-repeat;
  background-position: 2% 3px;
  padding-left: 45px;
}


#placeholder-icon-username {
  @extend %placeholder-picture;
  background-image: url('../../../design/icons/profile-blue-32.png');
}

#placeholder-icon-username:focus {
  @extend %placeholder-picture;
  background-image: url('../../../design/icons/profile-32.png');
  border-bottom: 3px solid black;
}

#placeholder-icon-email {
  @extend %placeholder-picture;
  background-image: url('../../../design/icons/envelope-blue-32.png');
}

#placeholder-icon-email:focus {
  @extend %placeholder-picture;
  background-image: url('../../../design/icons/envelope-32.png');
  border-bottom: 3px solid black;
}

#placeholder-icon-password {
  @extend %placeholder-picture;
  background-image: url('../../../design/icons/lock-blue-32.png');
}

#placeholder-icon-password:focus {
  @extend %placeholder-picture;
  background-image: url('../../../design/icons/lock-32.png');
  border-bottom: 3px solid black;
}

#placeholder-icon-re-password {
  @extend %placeholder-picture;
  background-image: url('../../../design/icons/re-lock-blue-32.png');
}

#placeholder-icon-re-password:focus {
  @extend %placeholder-picture;
  background-image: url('../../../design/icons/re-lock-32.png');
  border-bottom: 3px solid black;
}

.submit-form {
  display: inline-block;
  height: 55px;
  width: 88%;
  margin-left: 6%;
  margin-top: 5%;
  padding: 7.55px;
  font-size: 25px;
  background: linear-gradient(to right, #1A93DD , #215FDE);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-family: $font;
  color: white;
  border-radius: 25px;
}

.submit-form:hover {
  cursor: pointer;
  width: 90%;
  margin-left: 5%;
  margin-top: 4.75%;
  height: 57px;
}

.error {
  border: 2px solid $design-red;
  background-color: $design-light-red;
  color: white;
  text-align: center;
  display: inline-block;
  height: auto;
  width: 83.5%;
  margin-left: 6%;
  margin-top: 5%;
  padding: 7.55px;
  font-size: 15px;
  overflow-wrap: break-word;
}
