@mixin gradient-shadow ($color1, $color2, $radius) {
  background: linear-gradient(to right, $color1 , $color2);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: $radius;
}

@mixin font-color-gradient ($color1, $color2) {
  background: linear-gradient(to right, $color1 , $color2);
  -webkit-text-stroke-color: #000;
}

@mixin position-center ($position) {
  left: $position;
  transform: translateX(-$position);
}
