@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Design colors
$design-red: #e63946;
$design-light-red: #ff6b76;
$design-white: #ededed;
$design-light-blue: #a8dadc;
$design-blue: #457b9d;
$design-dark-blue: #1d3557;
$font: Roboto, serif;

/* Gradient Buttons Color */
$gradient-btn-a: #ee0979;
$gradient-btn-b: #ff6a00;
$gradient-red-a: #e35d5b;
$gradient-red-b: #e53935;
