@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Pacifico|Lato');

// Design colors
$design-red: #e63946;
$design-light-red: #ff6b76;
$design-white: #ededed;
$design-light-blue: #a8dadc;
$design-blue: #457b9d;
$design-dark-blue: #1d3557;
$font: Roboto, serif;
$font-sub: 'Open Sans', serif;
$font-logo: Pacifico, serif;
$font-header: Lato, 'sans serif';

/* Gradient Buttons Color */
$gradient-btn-a: #EE0979;
$gradient-btn-b: #FF6A00;
$gradient-red-a: #E35D5B;
$gradient-red-b: #E53935;
$gradient-green-a: #1D976C;
$gradient-green-b: #93F9B9;

/* Background */
$background-color: #F1F1F1;
