@import '../../../design/style/variables.scss';

#browsing {
  position: relative;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#parameters {
  position: relative;
  height: 150px;
}

#range-rating {
  position: absolute;
  right: 0px;
  top: 0px;
}

#range-distance {
  position: absolute;
  right: 0px;
  top: 50px;
}

/* Range */

.range-area {
  position: relative;
  height: 50px;
  width: 49.8%;
  // border: 1px solid;
}

.range-logo {
  position: absolute;
  height: 30px;
  top: 10px;
  left: 2.5px;
}

.range-values {
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: $font-sub;
}

.range-title {
  position: absolute;
  top: 1.5px;
  left: 50px;
  font-weight: bold;
  font-size: 20px;
  font-family: $font-sub;
}

.range-slider {
  position: absolute;
  width: 90%;
  bottom: 5px;
  right: 5px;
}
