@import '../../../design/style/variables.scss';

#browsing {
  position: relative;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#parameters {
  position: relative;
  height: 100px;
}

#range-rating {
  position: absolute;
  left: 25%;
  top: 0px;
}

#range-distance {
  position: absolute;
  right: 25%;
  top: 0px;
}

/* Location */

#location {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 13.5px;
  border: 1.5px solid $design-red;
  padding: 2.5px;
}

#send-location {
  position: absolute;
  right: 5px;
  top: 20px;
  cursor: pointer;
}

/* Browsing */

#browsing-tags {
  position: relative;
  height: 40px;
  width: 100%;
}

#hide-scroll {
  height: 27.5px;
  overflow: hidden;
  padding-bottom: 12.5px;
  width: 74.75%;
}

#list-tags {
  position: relative;
  height: 27.5px;
  width: 102.5%;
  padding-top: 10px;
  padding-bottom: 20px;
  overflow-y: scroll;
  margin-left: 5px;
}

#list-tags::-webkit-scrollbar {
    display: none;
}

#new-tag-area {
  position: absolute;
  right: 109px;
  top: 4px;
}

#list-tag-area {
  position: relative;
  z-index: 999;
}

#browsing-new-tag {
  font-size: 15px;
  width: 90px;
}

input#browsing-new-tag {
  color: white;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    opacity: 0.5;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: white;
    opacity: 0.5;
  }
}

#browsing-new-tag-list {
  left: 0px;
  top: 0px;
  width: 90px;
  z-index: 999;
  background-color: $design-red;
  overflow: hidden;
}

/* Range */

.range-area {
  position: relative;
  height: 50px;
  width: 24.8%;
  // border: 1px solid;
}

.range-logo {
  position: absolute;
  height: 30px;
  top: 10px;
  left: 2.5px;
}

.range-values {
  position: absolute;
  top: 10.5px;
  right: 3px;
  font-size: 12.5px;
  font-family: $font-sub;
}

.range-title {
  position: absolute;
  top: 7.5px;
  left: 42px;
  font-weight: bold;
  font-size: 15px;
  font-family: $font-sub;
}

.range-slider {
  position: absolute;
  width: 80%;
  bottom: 5px;
  right: 2.5px;
}

/* btn */

.update-btn {
  position: absolute;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  background: $design-red;
  margin: 2px;
  padding: 5px;
  color: white;
  cursor: pointer;
}

#filter-btn-big {
  width: 7.5%;
  height: 45.5%;
  right: 22px;
  top: 4px;
}

.filter-logo {
  position: absolute;
  width: 18px;
  top: 7.5px;
  left: 7.5px;
}

.filter-text {
  position: absolute;
  right: 7.5px;
  font-family: $font;
  font-size: 14.5px;
  top: 7.5px;
  font-weight: lighter;
}
