@import '../../../design/style/variables.scss';

#browsing {
  position: relative;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#parameters {
  position: relative;
  height: 100px;
}

#range-rating {
  position: absolute;
  left: 24.8%;
  top: 0px;
}

#range-distance {
  position: absolute;
  right: 25%;
  top: 0px;
}

#location {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 13.5px;
  border: 1.5px solid $design-red;
  padding: 2.5px;
}

#send-location {
  position: absolute;
  right: 5px;
  top: 20px;
  cursor: pointer;
}

#browsing-tags {
  position: relative;
  border: 1px solid red;
  height: 40px;
  width: 100%;
}

/* Range */

.range-area {
  position: relative;
  height: 50px;
  width: 24.8%;
  // border: 1px solid;
}

.range-logo {
  position: absolute;
  height: 30px;
  top: 10px;
  left: 2.5px;
}

.range-values {
  position: absolute;
  top: 10.5px;
  right: 3px;
  font-size: 12.5px;
  font-family: $font-sub;
}

.range-title {
  position: absolute;
  top: 7.5px;
  left: 42px;
  font-weight: bold;
  font-size: 15px;
  font-family: $font-sub;
}

.range-slider {
  position: absolute;
  width: 80%;
  bottom: 5px;
  right: 2.5px;
}
