#data-map {
  position: relative;
  height: 490px;
  width: 60.5%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media (max-width: 650px) {
  #data-map {
    width: 100%;
  }
}
