@import '../../../design/style/variables.scss';

#data-map {
  position: relative;
  height: 490px;
  width: 60.5%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.picture-pin{
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 25px;
  background: white;
  top: -36px;
  left: -5px;
  &:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  }
}

.picture-pin-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.map-mark {
  cursor: pointer;
}

@media (max-width: 650px) {
  #data-map {
    width: 100%;
  }
}
