@import '../../../design/style/variables.scss';
@import '../../../design/style/functions.scss';

#list {
  position: absolute;
  height: 100%;
  width: 38.5%;
  top: 0px;
  right: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
}

#view-list {
  position: relative;
  height: 93%;
  padding-top: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 375px;
  width: 98%;
}

#no-data {
  position: absolute;
  font-size: 25px;
  color: #C8C8C8;
  width: 100%;
  text-align: center;
  top: 30px;
}

#more-data {
  position: relative;
  color: #DBDBDB;
  width: 100%;
  top: 10px;
  @include position-center(29%);
  padding: 2.5px;
  cursor: pointer;
  &:hover {
    color: #C8C8C8;
  }
}

#no-more-data {
  position: relative;
  font-size: 25px;
  color: #C8C8C8;
  width: 100%;
  top: 5px;
  @include position-center(47%);
  cursor: default;
}

.picture-list {
  position: relative;
  width: 50px;
}

.profile-element {
  position: relative;
  height: 55px;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    background-color: #F9F9F9;
    cursor: pointer;
  }
}

.picture-list{
  position: relative;
  width: 45px;
  height: 45px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  border-radius: 25px;
  background: white;
  top: 5px;
  left: 5px;
}

.picture-list-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.name-list {
  position: absolute;
  top: 12.5px;
  left: 60px;
  font-family: $font-sub;
  font-size: 1.8vw;
}

.age-list {
  position: absolute;
  top: 32px;
  left: 65px;
  font-family: $font-sub;
  font-size: 1.25vw;
}

.distance-list {
  position: absolute;
  top: 17px;
  right: 65px;
  width: auto;
  height: 20px;
}

.rating-list {
  position: absolute;
  top: 17px;
  right: 5px;
  width: auto;
  height: 20px;
}

.list-icon {
  position: relative;
  width: 20px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.list-value {
  position: relative;
  font-family: $font-sub;
  font-size: 12.5px;
  top: -4px;
}

/* Sort area */

#sort-list {
  position: relative;
  // border: 1px solid black;
  height: 25px;
}

.sort-title {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  top: 2px;
  left: 2px;
  cursor: pointer;
  border: 0.5px solid white;
  font-size: 12px;
  margin: 2.5px;
  &:hover {
    border: 0.5px solid grey;
    border-radius: 2.5px;
  }
}

#sort-input {
  border: 1px solid red;
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px;
  width: 25%;
}

#filter-btn-little {
  width: 11px;
  height: 10px;
}

.filter-logo-little {
  position: absolute;
  width: 12px;
}

#up-down-area {
  position: absolute;
  padding-left: 5px;
  width: 15px;
  height: 18px;
  top: 5px;
}

.up-down-sort {
  position: absolute;
  width: 10px;
  cursor: pointer;
}

@media (min-width: 925px) {
  .name-list {
    font-size: 15px;
  }
  .age-list {
    font-size: 12.5px;
  }
}

@media (max-width: 975px) {
  .distance-list {
    top: 7.5px;
    right: 0px;
  }
  .rating-list {
    top: 30px;
    right: 0px;
  }
  .filter-text {
    font-size: 1.2vw;
    top: 35%;
  }
}

@media (max-width: 650px) {
  #list {
    position: relative;
    top: 0px;
    width: 100%;
    margin-top: 10px;
  }
  #view-list {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    width: 95%;
    height: 85%;
  }
  .distance-list {
    top: 17px;
    right: 70px;
  }
  .rating-list {
    top: 17px;
    right: 5px;
  }
  .name-list {
    font-size: 15px;
  }
  .age-list {
    font-size: 12.5px;
  }
}

@media (max-width: 400px) {
  .distance-list {
    top: 7.5px;
    right: 0px;
  }
  .rating-list {
    top: 30px;
    right: 0px;
  }
}
