@import '../../../design/style/variables.scss';
@import '../../../design/style/functions.scss';

#list {
  position: absolute;
  height: 100%;
  width: 38.5%;
  top: 0px;
  right: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
}

#view-list {
  position: relative;
  height: 96%;
  padding-top: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 375px;
  width: 98%;
}

.picture-list {
  position: relative;
  width: 50px;
}

.profile-element {
  position: relative;
  height: 55px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #DBDBDB;
}

.picture-list{
  position: relative;
  width: 45px;
  height: 45px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  border-radius: 25px;
  background: white;
  top: 5px;
  left: 5px;
}

.picture-list-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.name-list {
  position: absolute;
  top: 12.5px;
  left: 60px;
  font-family: $font-sub;
  font-size: 1.8vw;
  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.age-list {
  position: absolute;
  top: 32px;
  left: 65px;
  font-family: $font-sub;
  font-size: 1.25vw;
}

.distance-list {
  position: absolute;
  top: 17px;
  right: 65px;
  width: auto;
  height: 20px;
}

.rating-list {
  position: absolute;
  top: 17px;
  right: 5px;
  width: auto;
  height: 20px;
}

.list-icon {
  position: relative;
  width: 20px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.list-value {
  position: relative;
  font-family: $font-sub;
  font-size: 12.5px;
  top: -4px;
}

/* Sort area */

#sort-list {
  position: relative;
  border: 1px solid black;
  height: 22.5px;
}

#sort-list a {
  position: relative;
  padding-left: 2.5%;
  padding-right: 2.5%;
  top: 2px;
  left: 2px;
  cursor: pointer;
  border: 0.5px solid white;
  font-size: 12px;
  &:hover {
    border: 0.5px solid grey;
    border-radius: 2.5px;
  }
}

#sort-input {
  border: 1px solid red;
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px;
  width: 25%;
}

#filter-btn-little {
  position: absolute;
  width: 11px;
  height: 10px;
  right: 18px;
  top: -1px;
}

.filter-logo-little {
  position: absolute;
  width: 12px;
}

@media (min-width: 925px) {
  .name-list {
    font-size: 15px;
  }
  .age-list {
    font-size: 12.5px;
  }
}

@media (max-width: 975px) {
  .distance-list {
    top: 7.5px;
    right: 0px;
  }
  .rating-list {
    top: 30px;
    right: 0px;
  }
}

@media (max-width: 650px) {
  #list {
    position: relative;
    top: 0px;
    width: 100%;
    height: 390px;
    margin-top: 10px;
  }
  #view-list {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    width: 95%;
    height: 92%;
  }
  .distance-list {
    top: 17px;
    right: 70px;
  }
  .rating-list {
    top: 17px;
    right: 5px;
  }
  .name-list {
    font-size: 15px;
  }
  .age-list {
    font-size: 12.5px;
  }
}

@media (max-width: 400px) {
  .distance-list {
    top: 7.5px;
    right: 0px;
  }
  .rating-list {
    top: 30px;
    right: 0px;
  }
}
