@import '../../../design/style/variables.scss';
@import '../../../design/style/functions.scss';

#list {
  position: absolute;
  height: 99.5%;
  width: 38.5%;
  top: 0px;
  right: 0px;
}

#view-list {
  position: relative;
  height: 100%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-top: 5px;
  overflow-x: scroll;
  max-width: 375px;
}

.picture-list {
  position: relative;
  width: 50px;
}

.profile-element {
  position: relative;
  height: 55px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #DBDBDB;
}

.picture-list{
  position: relative;
  width: 45px;
  height: 45px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  border-radius: 25px;
  background: white;
  top: 5px;
  left: 5px;
}

.picture-list-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.name-list {
  position: absolute;
  top: 12.5px;
  left: 60px;
  font-family: $font-sub;
  font-size: 1.8vw;
  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.age-list {
  position: absolute;
  top: 32px;
  left: 65px;
  font-family: $font-sub;
  font-size: 1.25vw;
}

.distance-list {
  position: absolute;
  top: 17px;
  right: 55px;
  width: auto;
  height: 20px;
}

.rating-list {
  position: absolute;
  top: 17px;
  right: 5px;
  width: auto;
  height: 20px;
}

.list-icon {
  position: relative;
  width: 20px;
}

.list-value {
  position: relative;
  font-family: $font-sub;
  font-size: 12.5px;
  top: -4px;
}

@media (min-width: 925px) {
  .name-list {
    font-size: 15px;
  }
  .age-list {
    font-size: 12.5px;
  }
}

@media (max-width: 850px) {
  .distance-list {
    top: 7.5px;
    right: 0px;
  }
  .rating-list {
    top: 30px;
    right: 13px;
  }
}

@media (max-width: 650px) {
  #list {
    position: relative;
    top: 0px;
    width: 100%;
    margin-top: 10px;
  }
  #view-list {
    @include position-center(50%);
  }
  .distance-list {
    top: 17px;
    right: 55px;
  }
  .rating-list {
    top: 17px;
    right: 5px;
  }
  .name-list {
    font-size: 15px;
  }
  .age-list {
    font-size: 12.5px;
  }
}
